@font-face {
  font-family: "Roboto-Extra-Bold";
  src: url(./fonts/Roboto/Roboto-Black.ttf) format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(./fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light";
  src: url(./fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: light;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Light-Italic";
  src: url(./fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
  font-weight: light;
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Regular", sans-serif;
}

:root {
  --color-white: #f9faf8;
  --color-white-faint: #c5c5c5;
  --color-dark-blue: #1f2937;
  --color-dark-faint: #1f2937c2;
  --color-blue: #3882f6;
  --transition: all 0.5s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.home-firstSection div,
header div,
.blockquoteSection div,
.places-section {
  width: 80%;
}

.callToAction div,
.blockquoteSection div,
.secondSection div,
.contact-options {
  width: 1000px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.2rem 0;
  background-color: var(--color-dark-blue);
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--color-white);
  font-size: 24px;
  font-family: "Roboto-Extra-Bold";
}

.logo:hover {
  color: var(--color-white-faint);
  cursor: pointer;
}

header menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

menu a {
  font-size: 18px;
  color: var(--color-white);
}

menu a:hover {
  color: var(--color-white-faint);
}

.home-firstSection {
  background-color: var(--color-dark-blue);
  padding: 6rem 0;
}

.home-firstSection div {
  display: flex;
  margin: 0 auto;
}

.home-firstSection aside {
  padding-right: 8rem;
}

.home-firstSection h1 {
  font-size: 48px;
  font-family: "Roboto-Extra-Bold";
  color: var(--color-white);
}

.home-firstSection p {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 2rem;
  margin: 20px 0;
}

.btn {
  width: 140px;
  padding: 0.5rem;
  border-radius: 7px;
  font-size: 18px;
  cursor: pointer;
  transition: var(--transition);
}

.btn-primary {
  background-color: var(--color-blue);
  color: var(--color-white);
  border: 1px solid var(--color-blue);
}

.btn-primary:hover {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  background: transparent;
}

.btn-secondary {
  color: var(--color-white);
  background-color: transparent;
  border: 1px solid var(--color-white);
  height: 43px;
}

.btn-secondary:hover {
  color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.home-firstSection img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 20px;
}

.secondSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondSection h1 {
  color: #1f2937;
  font-family: "Roboto-Extra-Bold", Sans-serif;
  margin: 3rem 0;
}

.secondSection div {
  display: flex;
  justify-content: space-between;
}

.secondSection figure {
  width: 180px;
}

.secondSection img {
  width: 180px;
  border-radius: 10px;
}

.secondSection p {
  text-align: center;
  font-family: "Roboto-Light";
  color: var(--color-dark-light);
  margin-top: 0.7rem;
}

.blockquoteSection {
  margin: 6rem 0;
  background-color: rgba(209, 209, 209, 0.336);
  padding: 6rem;
  display: flex;
  justify-content: center;
}

.blockquoteSection div {
  display: flex;
  flex-direction: column;
}

.blockquoteSection em {
  line-height: 1.8rem;
}

.blockquoteSection cite {
  align-self: flex-end;
}

.callToAction {
  display: flex;
  justify-content: space-between;
  width: 60%;
  background-color: var(--color-blue);
  margin: 3rem auto;
  padding: 2.5rem 4rem;
  border-radius: 10px;
}

.callToAction div {
  width: 70%;
}

.callToAction h3 {
  color: var(--color-white);
}

.callToAction p {
  color: var(--color-white);
  margin-top: 1rem;
}

footer {
  background-color: var(--color-dark-blue);
}

footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  height: 60px;
}

/* =========================== Contact us ==================================== */
.contact_home-firstSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-bgcolor {
  background-color: var(--color-dark-faint);
}

.contact_home-firstSection h1 {
  font-family: "Roboto-Bold";
  font-size: 30px;
  margin: 3rem auto 2rem auto;
  color: var(--color-white);
}

.contact_home-firstSection p {
  color: var(--color-white-faint);
  margin: 1rem 0;
}

.contact-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 2rem 0;
}
.contact-option:hover {
  background-color: var(--color-blue);
  border-radius: 0.5rem;
}

.contact-option img {
  width: 45px;
}
.form-section {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  height: 600px;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  padding: 3rem;
}
.form-section h1 {
  font-family: "Roboto-Bold", Sans-serif;
}
.form-contents {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.form-content-left,
.form-content-right {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.form-contents label {
  margin: 30px 0 5px 0;
}
.form-contents input, textarea {
    border-radius: 6px;
}
.form-contents input {
  height: 40px;
  width: 100%;
  padding: 0 10px;
}
textarea {
  resize: none;
  height: 100%;
  padding: 10px;
}

.form-section button:hover {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
}

/* ===================== Places to visit ========================== */
.places-section {
  margin: 0 auto;
}

.places-section h1 {
  margin: 2rem 0;
  text-align: center;
}

.places-section img {
  width: 500px;
  height: 300px;
  border-radius: 0.5rem
}

.places-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.places-items figure {
    margin: 2rem;
    transition: var(--transition);
}
.places-items figure:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.places-items p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
}